<h1><%= @app.name %><h1>
<h2>Releases:</h2>
<ul>
  <% @app.releases.each do |release| %>
    <li>
      <%= link_to("Branch: #{release.branch_name}", app_release_path(@app.id, release.id)) %>
    </li>
  <% end %>
</ul>
